<!-- footer -->
<p class="text-center text-muted">Copyright © 2020 -
    <a href="https://github.com/julianYaman/discord-bot-dashboard" class="footer-link">GitHub</a> -
    <a href="https://discord.com/invite/ccpgH3b" class="footer-link">Support server</a></p>