<!-- head -->
<meta charset="UTF-8">
<title>Bot Dashboard</title>

<meta property="og:title" content="Bot Dashboard" />
<meta property="og:type" content="website" />
<meta name="description"
    content="A tool for Discord.js Bot Developers to get detailed analytics of their bots and to manage them.">
<meta property="og:description"
    content="A tool for Discord.js Bot Developers to get detailed analytics of their bots and to manage them." />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" href="/lib/fontawesome/css/all.css">