<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found!</title>
    <style>
        body{
            background: #121212;
        }
        h1{
            font-size: 300px;
            font-family: sans-serif;
            font-weight: 800;
            text-align: center;
            color: #E74C3C;
            margin-bottom: 0;
        }
        p{
            color: white;
            text-align: center;
            font-size: 20pt;
            font-family: cursive;
            font-weight: bold;
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Sorry, this page can't be found...</p>
</body>
</html>
