<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discord Bot Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <meta name="author" content="Julian Yaman">
    <meta name="description" content="A tool for Discord.js bot developers to manage their bot for development and final release usages.">
</head>
<body>
<h1>Name of the Bot: <%= data.user.username %></h1>
<h3>Current game status: <%= data.user.localPresence.game.name %></h3>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>