<nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/messages">Messages</a>
    <a class="mdl-navigation__link" href="/log">Bot Log</a>
    <a class="mdl-navigation__link" href="/manage">Manage your Bot</a>
    <a class="mdl-navigation__link" href="/development">Development</a>
    <a class="mdl-navigation__link" href="/botStatus">Status</a>
</nav>