<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head') -%>
</head>

<body class="container">

    <header>

    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <%- include('../components/footer') -%>
    </footer>

</body>

</html>