<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head') -%>
</head>

<body class="container">

    <header>
        <h1 align="center">Discord Bot Dashboard</h1>
        <p align="center">Main/Guest/Information webpanel Directory</p>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Starting presence for page</h1>
            <p>Amazing Templating with EJS. YAY!</p>
        </div>
    </main>

    <footer>
        <%- include('../components/footer') -%>
    </footer>

</body>

</html>