<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head') -%>
    <link rel="stylesheet" href="/static/css/login.css" type="text/css">
</head>

<body class="container dark">
    <header>
        <h1 align="center">Discord Bot Dashboard</h1>
    </header>
    <main>
        <div class="login-panel">
            <p>Login first to use the Dashboard</p>
            <a href="/auth/discord/login/"><button class="login-button"><i class="fab fa-discord"></i>&nbsp; Login with
                    Discord</button></a>
            <br><br>
            <small>Problems logging in? Please ask your dashboard administrator for further support.<br>
                More help needed? Report your bug on
                <a class="github-support-link" href="https://github.com/julianYaman/discord-bot-dashboard"
                    target="_blank">GitHub</a></small>.
        </div>
    </main>

    <footer>
        <%- include('../components/footer') -%>
    </footer>

</body>

</html>