<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/head') -%>
        <link rel="stylesheet" href="/static/css/login.css" type="text/css">
    </head>
    <body class="container dark">

        <main>
            <h1>Discord Bot Dashboard</h1>
            <p>Login to use it</p>

            <a href="/auth/discord/login/"><button class="login-button">Login with Discord <i class="fab fa-discord"></i></button></a>
        </main>

        <footer>
            <%- include('../components/footer') -%>
        </footer>

    </body>
</html>