body{
    font-family: "Roboto", sans-serif;
}
.botWidget{
    width: 30%;
    padding: 1% 1%;
    margin-right: 1%;
    border: 2px solid;
}
.botFunctionWidget{
    width: 60%;
    padding: 1% 1%;
    border: 2px solid;
    float: right;
}