<nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" href="/">Главная</a>
    <a class="mdl-navigation__link" href="/messages">Сообщение</a>
    <a class="mdl-navigation__link" href="/log">Логи</a>
    <a class="mdl-navigation__link" href="/manage">Управление</a>
    <a class="mdl-navigation__link" href="/botStatus">Статус</a>
    <a class="mdl-navigation__link" href="/dashboard">Панель управления</a>
</nav>